@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.desktop, .mobile{
  background: url('../src/assets/AdobeStock_317505836.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.hamburger{
  background: url("./../src/assets/hamburger.png") lightgray -458.488px -34.068px / 383.357% 108.039% no-repeat;
  background-position: center;
  padding: 0 43px 105px;
}
.navlink{
  font-family: "Julius Sans One";
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.cta{
  padding: 0 30px;
  color: #FFF;
text-align: center;
font-family: "Julius Sans One";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 500% */
text-transform: capitalize;
}
.idea{
  background: url("./assets/título3.png");
}
.slide{
  background: radial-gradient(46.1% 46.1% at 49.9% 52.05%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.swiper-button-next, .swiper-button-prev{
  color: white !important;
  font-weight: bold;
}
.swiper-wrapper{
  gap: 20px !important;
  /* margin: 0 40px !important; */
}
.room{
  background: url("./assets/room.png") no-repeat top center;
  background-size: cover;
  background-origin: border-box;
 
}
.tab{
color: #fff;
text-align: center;
font-family: "Julius Sans One";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 100px; /* 250% */
text-transform: capitalize;
padding: 0 60px;
cursor: pointer;
}
.tab:hover{
  border: 2px solid #FFF;
}
.active{
padding: 0 60px;
border: 2px solid #FFF;
}
.title{
  font-family: "Julius Sans One";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
text-transform: capitalize;
}
.price{
  font-family: "Judson", serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-transform: capitalize;
}

.contact-para{
  color: #FFF;
text-align: center;
font-family: "Julius Sans One";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 200% */
text-transform: capitalize;
}
.boutiques{
  background: url("./assets/manbg.png") no-repeat center top;
  background-size: cover;

}
.heading{
  color: #FFF;
text-align: center;
font-family: "Julius Sans One";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 50% */
text-transform: capitalize;
}

input[type="checkbox"]{
  height: 30px;
  width: 30px;
  outline: 2px solid #000;
background: rgba(217, 217, 217, 0.00);
}
.check{
  color: #000;
font-family: "Urbanist", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
display: flex;
justify-items: center;
gap: 1rem;
padding-bottom: 1rem;
}
.details{
  background: linear-gradient(119deg, #232323 16.52%, #313131 28.62%, rgba(68, 68, 68, 0.99) 46.67%, #707070 63.8%, rgba(104, 103, 103, 0.77) 71.65%, rgba(82, 80, 80, 0.50) 82.02%);
  /* padding: 5rem 8rem 9rem 6rem; */
}
/* Footer section */
.footer{
  color: #FFF;
font-family: "Julius Sans One";
font-style: normal;
font-weight: 400;
line-height: 35px; /* 194.444% */
text-transform: capitalize;
background: rgba(0, 0, 0, 0.90);
}
.pagination{
  color: #000;
text-align: center;
font-family: Charm;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.charm{
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
